DB_HOST=localhost
DB_PORT=5432
DB_NAME=fast_logic
DB_USER=postgres
DB_PASSWORD=admin
DB_SYNC=true

REDIS_ENABLED=true
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL_SECONDS=300
